[submodule "services/auth"]
	path = services/auth
	url = git@github.com:beartrando/lenvora-auth.git
[submodule "services/gateway"]
    path = services/gateway
    url = git@github.com:beartrando/lenvora-gateway.git
[submodule "services/profile"]
	path = services/profile
	url = git@github.com:beartrando/lenvora-profile.git
[submodule "services/remy"]
	path = services/remy
	url = git@github.com:beartrando/lenvora-remy.git
[submodule "services/gusteau"]
	path = services/gusteau
	url = git@github.com:beartrando/lenvora-gusteau.git
[submodule "services/front"]
    path = services/front
    url = git@github.com:beartrando/lenvora-front.git
[submodule "services/orchestration"]
    path = services/orchestration
    url = git@github.com:beartrando/lenvora-orchestration.git
[submodule "services/streaming"]
	path = services/streaming
	url = git@github.com:beartrando/lenvora-streaming.git
[submodule "services/speech-to-text"]
	path = services/speech-to-text
	url = git@github.com:beartrando/lenvora-speech-to-text.git
[submodule "proto"]
    path = proto
    url = git@github.com:beartrando/lenvora-proto.git
[submodule "context"]
    path = context
    url = git@github.com:beartrando/lenvora-context.git
