[submodule "services/auth"]
	path = services/auth
	url = git@github.com:beartrando/lenvora-auth.git
[submodule "services/gateway"]
    path = services/gateway
    url = git@github.com:beartrando/lenvora-gateway.git
[submodule "services/profile"]
	path = services/profile
	url = git@github.com:beartrando/lenvora-profile.git
[submodule "services/remy"]
	path = services/remy
	url = git@github.com:beartrando/lenvora-remy.git
[submodule "services/engine"]
    path = services/engine
    url = git@github.com:beartrando/lenvora-engine.git
[submodule "services/front"]
    path = services/front
    url = git@github.com:beartrando/lenvora-front.git
[submodule "services/orchestration"]
    path = services/orchestration
    url = git@github.com:beartrando/lenvora-orchestration.git
[submodule "proto"]
    path = proto
    url = git@github.com:beartrando/lenvora-proto.git
